<!-- this is page header (top blue band) -->
<app-header></app-header>
<!-- <app-note></app-note> -->

<!-- output of routers should be within this tag
    this acts as a placeholder - all routes are rendered here
-->
<router-outlet></router-outlet>


<!-- TODO: move below commented code to different component (e.g: dashboard comp) -->
<!-- Note Taker Component -->
<!-- <mat-expansion-panel class="keep-c-note-taker-expansion-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Take a Note
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="keep-c-note-taker-form">
        <mat-form-field>
            <input matInput [(ngModel)]="note.title"
                type="text" placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="note.text" placeholder="Text"></textarea>
        </mat-form-field>
        <div class="keep-c-done-btn-wrapper">
            <button mat-button (click)="takeNote()">Done</button>
        </div>
    </div>
</mat-expansion-panel> -->

<!-- list of all notes (card layout) -->
<!-- <div class="keep-note-container">
    <mat-card *ngFor="let note of notes">
        <mat-card-header>
            <mat-card-title>
                {{note.title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{note.text}}
        </mat-card-content>
    </mat-card>
</div> -->
